.button {
  background-color: #3e6ae1;
  max-width: 22vw;
  color: #fff;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  opacity: 0.8;
}

.button:hover {
  opacity: 1;
  transform: scale(1.05);
}

.active {
  color: #fff;
  /* border-color: tomato; */
  background-color: tomato;
  animation: www 1s ease-in-out infinite;
}

.button:disabled {
  background-color: #ccc;
  color: #fff;
  border-color: #ccc;
}

@keyframes www {
  0% {
    background-color: #3e6ae1;
  }
  50% {
    background-color: tomato;
  }
  100% {
    background-color: #3e6ae1;
  }
}
