.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 5vh 1fr;
  padding: 0 30px;
}

.card__list {
  max-width: 18vw;
  margin-left: 20px;
  padding: 1rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  grid-row: 2/3;
  background-color: #772944;
  color: gold;
  border-radius: 1rem;
  overflow: hidden;
}

.card__cityName {
  color: #96adec;
  letter-spacing: 3px;
  margin: 1vh 0 1vh 20px;
  grid-row: 1/2;
  font-size: 20px;
}

.card__item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
